.root {
  position: relative;
  z-index: 1;
}

.button {
  position: relative;
  z-index: 1;
  height: 36px;
  border: 0;
  margin: 0;
  padding: 0 24px;
  background-color: rgb(var(--primary-color));
  appearance: none;
  font-size: 16px;
  font-family: inherit;
  color: rgb(var(--white-color));
  border-radius: 4px;
}

.buttonActive {
  background-color: rgb(var(--white-color));
  color: rgb(var(--primary-color));
}

.otherButton {
  display: inline-block;
  height: 24px;
  padding: 0 8px;
  margin: 0;
  border: 0;
  appearance: none;
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  cursor: pointer;

  &::after {
    display: inline-block;
    content: '';
    border: 4px solid transparent; /* stylelint-disable-line mavrin/stylelint-declaration-use-css-custom-properties */
    border-top-color: currentColor;
    border-bottom-width: 0;
    margin-left: 4px;
    vertical-align: middle;
  }

  &:hover {
    /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  min-width: 240px;
  padding: 16px;
  background-color: rgb(var(--white-color));
  /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 -1px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

:global(.dark) .dropdown {
  background-color: var(--color8);
}

.dropdownShow {
  display: block;
}

.title {
  margin: 0 0 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
  color: #64748b;
  text-align: center;
}

:global(.dark) .title {
  color: var(--color16);
}

.divider {
  position: relative;
  display: flex;
  width: calc(100% + 32px);
  margin: 16px -16px;
  height: 16px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0;
    content: '';
    /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
    border-top: 1px solid #f1f5f9;
  }

  &::after {
    position: relative;
    display: block;
    margin: auto;
    padding: 0 12px;
    content: attr(title);
    font-size: 12px;
    /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
    color: #4b5563;
    text-transform: uppercase;
    background-color: rgb(var(--white-color));
  }
}

:global(.dark) .divider {
  &::before {
    border-top: 1px solid rgba(var(--white-color), 0.2);
  }

  &::after {
    color: var(--color35);
    background-color: var(--color8);
  }
}

.oauth {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.oauthItem {
  position: relative;
}

.oauthItem + .oauthItem {
  margin-left: 12px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.provider {
  position: relative;
}

.provider + .provider {
  margin-left: 16px;
}

.radio {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  opacity: 0;
  cursor: pointer;
}

.providerName {
  display: inline-block;
  text-transform: uppercase;
  /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
  color: #64748b;
  font-weight: bold;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
}

:global(.dark) .providerName {
  color: var(--color32);
}

.radio:checked ~ .providerName {
  /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
  color: rgb(var(--primary-color));
  /* stylelint-disable-next-line mavrin/stylelint-declaration-use-css-custom-properties */
  background-color: rgba(27, 184, 174, 0.1);
  border-radius: 2px;
}

:global(.dark) .radio:checked ~ .providerName {
  color: rgb(var(--white-color));
  background-color: rgba(var(--primary-color), 0.4);
}

.honeypot {
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 0;
  width: 0;
  appearance: none;
}

.submit {
  width: 100%;
  height: 36px;
  padding: 0 20px;
  font-size: 16px;
}

.error {
  margin-bottom: 12px;
  padding: 6px 8px;
  background-color: var(--error-background);
  color: var(--error-color);
  line-height: 1.2;
}
