.button_kind_primary {
  background-color: var(--color9);
  color: var(--color6);

  &:hover {
    background-color: var(--color33);
  }

  &:hover:disabled {
    background-color: var(--color9);
  }
}
